.manager_actions {
    @apply grid grid-cols-2 sm:grid-cols-3 w-full gap-4 mb-4;

    & button {
        @apply w-full first:col-span-2 sm:first:col-span-1;
    }

    @screen md {
        @apply flex flex-1 flex-wrap justify-end gap-4 mb-0;

        & button {
            @apply w-auto;
        }
    }
}

.fab_container {
    @apply fixed bottom-6 right-6 z-50 flex flex-col items-end gap-3;
}

.fab_menu {
    @apply flex flex-col items-stretch gap-2 p-3 rounded bg-neutral-700 shadow-lg border border-neutral-600;

    & a,
    & button {
        @apply w-full;
    }
}

.file_row {
    @apply flex items-center cursor-pointer bg-neutral-700 rounded-sm mb-px text-sm no-underline;
    @apply hover:text-neutral-100 hover:bg-neutral-600;

    & > .details {
        @apply flex flex-1 items-center text-neutral-300 no-underline px-4 py-2 overflow-hidden truncate;

        &:not(a) {
            @apply cursor-default;
        }
    }
}
